//
// Navbar
//

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: $spacer;
  padding-right: $spacer;

  // .list-item(s) take over on padding the right side from here
  @include media-breakpoint-up(lg) {
    padding-right: 0;
  }
}

// Wraps each section in the navbar and vertically centers the section and its children
.navbar-item {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

// Navbar nav
.navbar-nav {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}
.navbar-nav > .list-item {
  padding: $spacer * 1.5;
  transition: $default-transition;

  &:hover {
    background-color: rgba($black, .05);
    text-decoration: none;
  }

  + .list-item{
    border-left: 1px solid rgba($black, .1);
  }
}

// Navbar Toggler
.navbar-toggler {
  flex-direction: column;
  margin-left: auto;
  padding-top: $spacer;
  padding-bottom: $spacer;

  &:hover {
    cursor: pointer;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.navbar-toggler span {
  color: $white;
  font-size: $font-size-sm;
  text-transform: uppercase;
}


//
// Navbar themes
//

// White links against a gradient background
.primary-nav {
  background: $grad-blue-green;
}
.primary-nav a {
  color: $white;
}
