<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header', { styles: assets.styles }); %>
    <title>The Zebra || Desktop Components</title>
</head>

<body>
    <nav class="container">
        <ul class="row">
            <li class="col-sm-9">First second Item</li>
            <li class="col-sm-3">Second Item</li>
            <li class="col-sm-4">Third Item</li>
        </ul>
    </nav>
     <%- include('partials/footer', { javascript: assets.javascript }); %>
</body>

</html>