//
// Positioning
//

// Accepts 's, sta, r, rel, a, ab, f, fix' as shorthands"
@mixin position($shorthand, $offsets) {
  @if $shorthand != null {
    @if $shorthand == 's' or $shorthand == 'sta' {
      position: static;
    } @else if $shorthand == 'r' or $shorthand == 'rel' {
      position: relative;
    } @else if $shorthand == 'a' or $shorthand == 'ab' or $shorthand == 'abs' {
      position: absolute;
    }@else if $shorthand == 'f' or $shorthand == 'fix' {
      position: fixed;
    }
  }

  // position ALL the offsets
  @if length($offsets) == 1 {

    // save me writing four times
    $position-property: top, right, bottom, left;

    @if $offsets != none {
      @each $property in $position-property {#{$property}: $offsets; }
    }

  } @else if length($offsets) == 2 {


    @if nth($offsets, 1) != none {
      bottom: nth($offsets, 1);
      top: nth($offsets, 1);
    }

    @if nth($offsets, 2) != none {
      left: nth($offsets, 2);
      right: nth($offsets, 2);
    }

  } @else if length($offsets) == 3 {
    @if nth($offsets, 1) != none {
      top: nth($offsets, 1);
    }

    @if nth($offsets, 2) != none {
      left: nth($offsets, 2);
      right: nth($offsets, 2);
    }

    @if nth($offsets, 3) != none {
      bottom: nth($offsets, 3);
    }

  } @else if length($offsets) == 4 {
    @if nth($offsets, 1) != none {
      top: nth($offsets, 1);
    }

    @if nth($offsets, 2) != none {
      right: nth($offsets, 2);
    }

    @if nth($offsets, 3) != none {
      bottom: nth($offsets, 3);
    }

    @if nth($offsets, 4) != none {
      left: nth($offsets, 4);
    }
  }
}
